body {
    /*
    background-image: url('assets/dots_back.png');
    */
    background-color: #AF1621;
    background-image:  url('assets/dots_back.png'), linear-gradient(to bottom right, #AF1621, #C92C36);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    font-family:'ComicNeueRegular', 'Comic Sans', sans-serif;
    overscroll-behavior: none;
}
.noDisp { display: none !important;}
.stage {
    width: max-content;
    height: max-content;
}
button{
    cursor: pointer;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    width: 100%;
    max-width: 500px;
    background-color: #FDE172;
    text-align: center;
    display: block;
    z-index: 100;
    padding: 50px 40px;
    border:solid 2px #000;
    box-shadow: 16px 16px 8px -12px #000;
    overflow:hidden;
    animation: slideIn .25s;
}
.backwards .popup {
    animation: slideInBack .25s;
}

.popup ul {
    text-align: left;
    margin-left: 20px;
}
.popup .long {
    text-align: left;
}

@keyframes slideIn {
    from {
        transform: translate(-40%, -50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
@keyframes slideInBack {
    from {
        transform: translate(-60%, -50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fadeOut{
    opacity: 0;
    transition: .2s;
}
.fadeOut.slow{
    opacity: 0;
    transition: 1.2s;
}

.fadeIn{
    opacity: 1;
    transition: .2s;
}

.fadingOut{
    opacity: 0;
    animation: slideOut .25s;
}

@keyframes slideOut {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(-60%, -50%);
        opacity: 0;
    }
}

input[type=text] {
    font-family: 'ComicNeueRegular', 'Comic Sans', cursive;
    font-size: larger;
    font-weight: bold;
}
.label{
    font-family: 'ComicNeueRegular', 'Comic Sans', cursive;
    font-size: small;
    font-weight: bold;
    margin: 1px;
}
select{
    padding: 4px;
    border-radius: 0;
}

.tooltipped .tooltip{
    /*
    */
    visibility: hidden;
    min-width: 120px;
    max-width: 350px;
    width: 200px;
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    border: solid 3px #000;
    padding: 5px 0;
    position: fixed;
    transform:translate(-100px,-100%);
    z-index: 1000;
    text-align: left;
    /*
    text-align: center;
    left: 50%;
    margin-left: -60px;
    bottom: 150%;
    */
}
.tooltipped .tooltip::after{
    content: "";
    position: fixed;
    top: 100%;
    left: 65%;
    width: 38px;
    height: 23px;
    background-image: url("assets/dialog_point.png");
    /*
    margin-left: -10px;
    border-width: 10px;
    z-index: 1000;
    transform:translate(50px,-50px);
    border-style: solid;
    border-color: white transparent transparent transparent;
    */
}
.tooltipped:hover .tooltip{
    visibility: visible;
}
.tooltip .heroName{
    font-weight: bold;
    text-align: center;
    margin: 2px 10px;
}
.tooltipped .tooltip .markdown{
    margin: 0 10px;
}
.tooltipped .tooltip .markdown *{
    margin: 0;
}
.tooltipped .tooltip .markdown ul{
    padding-left: 20px;
}

.text {
    background-color:#fff;
    border:solid 2px #000;
    margin:0;
    padding:3px 10px;
}

.top-left {
    left:-6px;
    position:absolute;
    top:-2px;
    transform:skew(-15deg);
    font-size: large;
}
  
.bottom-right {
    bottom:-2px;
    position:absolute;
    right:-6px;
    transform:skew(-15deg);
}

.hero {
    font-family: 'ComicNeueRegular', 'Comic Sans', cursive;
    font-weight: bold;
}

button.bottom-right {
    padding: 8px 40px 8px 30px;
    margin-right: -8px;
    font-size: x-large;
    border:solid 2px #000;
    border-bottom: 0;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    /*display: inline-block;
    box-sizing: border-box;
    float: left;
    */
    flex: 0 0 40px;
    cursor: pointer;
}
input[type=checkbox]:disabled{
    cursor: default;
}
label.disabled{
    cursor: default;
}

label {
    /*
    display: block;
    text-align: left;*/
    display: flex;
    align-items: center;
    cursor: pointer;
}
label p {
    /*
    padding-top: 4px;
    margin-left: 18px;
    padding-left: 40px;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    flex: auto;
    margin: 4px;
    */
    text-align: left;
}

label.disabled p{
    font-style: italic;
    color: #C92C36;
}

.card {
    position: fixed;
    z-index: 101;
    box-shadow: 16px 16px 8px -12px #000;
    left: 50%;
    top: 45%;
    transform: translateX(280px) translate(-50%, -50%) scale(.5) rotate(10deg);
    
    animation: fadeIn .5s;
}


.mainMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*
.mainMenu .title{
    font-size: 64pt;
    color: #fff;
    font-family: 'BebasNeueBold', sans-serif;
    filter:
        drop-shadow(.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(2px 2px 2px rgba(0,0,0,1));
}
*/
#Title{
    padding: 10px 40px 10px 80px;
    margin-right: 30px;
    /*background-color: #F0B43C;*/
    background-image: linear-gradient(to right, #F9DA4E, #F0B43C);
    display: block;
    position: absolute;
    top: 35px;
    left: -35px;
    font-size: 48pt;
    font-family: 'BebasNeueBold', sans-serif;
    border:solid 3px #000;
    transform:skew(-15deg);
    z-index: 10;
}
.mainMenu .titleButton{
    display: block;
    border: solid 2px #000;
    transform: skew(-15deg);
    background-image: linear-gradient(to right, #1A3366, #214798);
    color: #fff;
    font-size: 48pt;
    font-family: 'BebasNeueBold', sans-serif;
    width: 400px;
    margin: 10px auto;
    cursor: pointer;
    /*
    font-family: 'RedkostComicRegular', sans-serif;
    box-shadow: 16px 16px 8px -12px #000;
    */
    box-shadow: 4px 4px 4px 0px #000;
}
.mainMenu .titleButton:enabled:hover{
    /*box-shadow: 20px 20px 12px -12px #000;*/
    box-shadow: 6px 6px 10px 0px #000;
    transform: translate(-2px, -2px) skew(-15deg);
    transition: .3s;
}
.mainMenu .titleButton:disabled{
    box-shadow: none;
    transform: translate(2px, 2px) skew(-15deg);
    cursor: default;
}

.campaignScroller{
    margin-top: 150px;
    padding: 0 0px 0px 130px;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: calc(100% - 150px);
}
.campaignSection{
    /*
    margin: 150px 0px 0px 150px;
    */
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 40px;
}
.campaignSection button{
    background: transparent;
    border: 0;
}
.campaignScroller .sectionHead{
    font-family: 'RedkostComicRegular', sans-serif;
    color: #fff;
    font-size: 24pt;
    filter: drop-shadow(-1px -1px .5px rgba(0,0,0,1))
            drop-shadow(1px -1px .5px rgba(0,0,0,1))
            drop-shadow(-1px 1px .5px rgba(0,0,0,1))
            drop-shadow(1px 1px .5px rgba(0,0,0,1));
}

.campaignSection button{
    margin: 15px;
}

.campaignSection button:enabled .bigBook:hover{
    box-shadow: 6px 6px 10px 0px #000;
    transform: translate(-2px, -2px);
    transition: .3s;
}
.campaignSection button:disabled .bigBook{
    box-shadow: none;
    transform: translate(2px, 2px);
    cursor: default;
}

.campaign{
    /*
    width: 182px;
    height: 280px;*/
    
    width: 230px;
    height: 350px;
    background-size: cover;
    background-position: top center;
    background-size: 165%;
    text-align: center;
    display: block;
    border:solid 2px #fff;
    box-shadow: 4px 4px 4px 0px #000;
    cursor: pointer;
}
.campaign.shiftUp{
    background-size: 168%;
}
.campaignScroller button:enabled .campaign:hover{
    box-shadow: 6px 6px 10px 0px #000;
    transform: translate(-2px, -2px);
    transition: .3s;
}
.campaignSection button:disabled .campaign{
    box-shadow: none;
    transform: translate(2px, 2px);
    cursor: default;
}

.campaignContainer{
    position: relative;
}
.campaignScroller .comingSoon .banner{
    position: absolute;
    font-family: 'BebasNeueBold', sans-serif;
    left: 50%;
    top: 50%;
    width: 400px;
    transform: translate(-50%, -50%) rotate(-60deg);
    background-color: #ece10e;
    font-size: 36pt;
    margin: 0;
    cursor: default;
}

.continueGame{
    display: block;
    width: 500px;
    height: 200px;
    background-size: cover;
    background-size: 110%;
    background-position: 50% 45%;
    cursor: pointer;
    margin: 10px;
    box-shadow: 4px 4px 4px 0px #000;
    padding: 0;
    text-align: right;
    position: relative;
}
.continueGame.shiftUp{
    background-position: 50% 60%;
}
.continueGame::before{
    content: '';
    background-image: linear-gradient(to bottom left, rgba(0,0,0,.9), transparent 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.continueGame:hover{
    box-shadow: 6px 6px 10px 0px #000;
    transform: translate(-2px, -2px);
    transition: .3s;
}
.continueGame h1{
    text-align: center;
    position: absolute;
    top: 5px;
    left: 0;
    width: 150px;
    /*background-image: linear-gradient(to right, #F9DA4E, #F0B43C);*/
    background-color: #ccc;
    display: block;
    font-size: 18pt;
    font-family: 'BebasNeueBold', sans-serif;
    border:solid 2px #000;
    border-left: 0;
    margin: 0;
}
.continueGame .progress{
    position: absolute;
    right: 4px;
    bottom: 3px;
}
.continueGame h3{
    font-family: 'RedkostComicRegular', sans-serif;
    color: #fff;
    font-size: 18pt;
    filter: drop-shadow(-1px -1px .5px rgba(0,0,0,1))
            drop-shadow(1px -1px .5px rgba(0,0,0,1))
            drop-shadow(-1px 1px .5px rgba(0,0,0,1))
            drop-shadow(1px 1px .5px rgba(0,0,0,1));
    margin: 0;
}
.continueGame p{
    font-family: 'RedkostComicRegular', sans-serif;
    color: #fff;
    font-size: 12pt;
    filter: drop-shadow(-1px -1px .5px rgba(0,0,0,1))
            drop-shadow(1px -1px .5px rgba(0,0,0,1))
            drop-shadow(-1px 1px .5px rgba(0,0,0,1))
            drop-shadow(1px 1px .5px rgba(0,0,0,1));
    margin: 0;
}
.continueGame .heroes{
    position: absolute;
    top: 0;
    right: 20px;
}
.continueGame .heroBadge{
    transform: scale(.6);
    margin: 0 -20px 0 -20px;
    transform-origin: top right;
}

.loadScroller{
    margin-top: 150px;
    padding: 0 0px 0px 130px;
    width: calc(100% - 130px);
    height: calc(100% - 150px);
    overflow: auto;
    position: absolute;
    top: 0;
}
.loadHeader{
    text-align: center;
    font-family: 'RedkostComicRegular', sans-serif;
    color: #fff;
    font-size: 24pt;
    filter: drop-shadow(-1px -1px .5px rgba(0,0,0,1))
            drop-shadow(1px -1px .5px rgba(0,0,0,1))
            drop-shadow(-1px 1px .5px rgba(0,0,0,1))
            drop-shadow(1px 1px .5px rgba(0,0,0,1));
}
.loadGame{
    background-color: transparent;
    border: 0;
    width: calc(100% - 40px);
    max-width: 700px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: rgb(250, 225, 125);
    padding: 10px;
    border:solid 2px #000;
    box-shadow: 4px 4px 4px 0px #000;
    margin: 10px auto;
    cursor: pointer;
}
.loadGame.active:hover{
    box-shadow: 6px 6px 10px 0px #000;
    transform: translate(-2px, -2px);
    transition: .3s;
}
.loadGame .content{
    z-index: 4;
    width: calc(100% - 230px);
    padding-left: 10px;
}
.loadGame.complete{
    cursor: default;
    color: #fff;
    box-shadow: none;
    transform: translate(2px, 2px);
}
.loadGame.defeat{
    background-color: #3e3e3e;
}
.loadGame.defeat .heroBadge{
    filter: grayscale(1) brightness(80%);
}
.loadGame.victory{
    background-color: #003366;
}
.loadGame.victory .campaignBadge{
    filter: grayscale(1);
}
.loadGame h3{
    font-size: 18pt;
    font-family: 'BebasNeueBold', sans-serif;
    margin: 0;
}
.loadGame p{
    font-size: 12pt;
    font-family: 'ComicNeueRegular', 'Comic Sans', cursive;
    margin: 0;
}
.loadGame .campaign{
    float: left;
    transform: scale(.5) rotate(-15deg);
}
.loadGame .campaignBadgeContainer{
    filter: drop-shadow(.5px .5px 0px rgba(0,0,0,1))
            drop-shadow(-.5px .5px 0px rgba(0,0,0,1))
            drop-shadow(.5px -.5px 0px rgba(0,0,0,1))
            drop-shadow(-.5px -.5px 0px rgba(0,0,0,1));
}
.loadGame .campaignBadge{
    width: 220px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    clip-path: polygon(10% 0, 100% 0%, calc(90%) 100%, 0% 100%);
}
.loadGame .heroBadge{
    transform: scale(.75);
    margin: -15px -15px;
}

.btMenu{
    position: fixed;
    right: 14px;
    top: 0;
    background-image: linear-gradient(to bottom, #1A3366, #214798);
    border:solid 2px #fff;
    border-radius: 8px;
    font-family: 'RedkostComicRegular', sans-serif;
    color: #fff;
    font-size: 14pt;
    padding: 22px 12px 8px 12px;
    margin-top: -16px;
    filter: drop-shadow(5px 3px 4px rgba(0,0,0,.7));
    
    /*
    transform: rotate(10deg);
    */
}
.btMenu:hover{
    transform: translate(0, 6px);
    transition: .3s;
}

.btBack {
    border: 0;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    z-index: 102;
}
.btBack img{
    width: 120px;
    height: 120px;
    filter: drop-shadow(5px 3px 4px rgba(0,0,0,.7));
    transition: .3s;
}
.btBack:hover img{
    filter: drop-shadow(8px 6px 6px rgba(0,0,0,1));
    transform: translate(-2px, -2px);
    transition: .3s;
}




.vh {
    display: block;
    position: absolute;
    top: 20px;
    width: 380px;
    height: 140px;
    border-top:solid 3px #000;
    border-bottom:solid 3px #000;
    z-index: 10;
    animation: fadeIn .8s;
}

.vh.vImg {
    object-fit: cover;
    object-position: 50% 45%;
    clip-path: polygon(0 0, 100% 0%, calc(90%) 100%, 0% 100%);
}
.vh.vImg.shiftUp {
    object-position: 50% 58%;
}
.vh.borderHelp {
    background-color: #000;
    clip-path: polygon(calc(100% - 3px) 0, 100% 0%, calc(90%) 100%, calc(90% - 3px) 100%);
}

.vt {
    padding: 10px 40px 10px 80px;
    margin-right: 30px;
    /*background-color: #F0B43C;*/
    background-image: linear-gradient(to right, #F9DA4E, #F0B43C);
    display: block;
    position: absolute;
    top: 35px;
    left: 320px;
    font-size: xx-large;
    font-family: 'BebasNeueBold', sans-serif;
    z-index: 8;
    border:solid 2px #000;
    transform:skew(-15deg);
    animation: fadeIn .8s;
}


#heroes_footer{
    position: absolute;
    display: flex;
    right: 0;
    bottom: 20px;
    max-width: calc(100% - 80px);
    text-align: right;
    /*
    background-image: linear-gradient(to right, #F0B43C, #F9DA4E);
    transform:skew(-15deg);
    margin-right: -90px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 30px 0);
    padding: 0 30px;
    */
    margin-left: 40px;
    border-right: 0;
}
#heroes_footer_helper{
    width: 40px;
    height: 110px;
    float: left;
    background-image: linear-gradient(to right, #F9DA4E, #F0B43C);
    clip-path: polygon(0 100%, calc(100% - 12px) 0, 100% 0, 100% 100%);
    left: 0;
    border-top:solid 3px #000;
    border-bottom:solid 3px #000;
}
#heroes_footer_helper::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: #000;
    clip-path: polygon(12px 100%, 0 100%, 0 0, 100% 0);
    width: 40px;
    height: 110px;
    border-bottom:solid 3px #000;
    /*
    border-bottom:solid 3px #000;
    border-bottom:solid 3px #000;
    transform:skew(-15deg);
    */
}
#heroes_footer_inner{
    padding: 0 10px;
    background-image: linear-gradient(to right, #F0B43C, #F9DA4E);
    border-top:solid 3px #000;
    border-bottom:solid 3px #000;
}
#heroes_footer .heroBadge{
    animation: fadeIn .8s;
    margin-bottom: -10px;
}


.heroBadge{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    align-content: center;
}
.heroBadge .hbLeft{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    clip-path: polygon(100% 0, 40% 0, 60% 100%, 0% 100%);
}
.heroBadge .hbRight{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.heroBadge .hbBand{
    position: absolute;
    width: 84px;
    height: 84px;
    border-radius: 42px;
    margin: 8px;
}
.heroBadge .hbImg{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-size: 180%;
    background-position: 60% 22%;
    margin: 10px;
}
.heroBadge.hbNudgeRight .hbImg{
    background-position: 38% 21%;
    background-size: 200%;
}
.heroBadge.hbNudgeDown .hbImg{
    background-position: 60% 19%;
}


.playerCount{
    background-color: transparent;
    padding: 0;
    margin: 5px 5px;
    border: 0;
    font-family:'ComicNeueRegular', 'Comic Sans', cursive;
    font-weight: bold;
    width: 400px;
    text-align: left;
    cursor: pointer;
}
.playerCount:hover{
    background-color: rgba(255,255,255,.5);
    transition: 0.5s;
}
.pcImgContainer{
    float: left;
    display: block;
    width: 150px;
    height: 100px;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
    
    filter:
        drop-shadow(.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(2px 2px 1px rgba(0,0,0,1));
}
.playerCount:hover .pcImgContainer{
    transition: .5s;
    transform: translate(-2px, -2px);
    filter:
        drop-shadow(.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(4px 4px 4px rgba(0,0,0,1));
}
.pcImg{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 115%;
    background-position: 60% 22%;
    clip-path: polygon(0 20px, calc(100% - 15px) 0, calc(100% - 1px) 100%, 10px calc(100% - 10px));
}
.pcDesc{
    margin: 0;
    padding-top: 25px;
    font-family: 'RedkostComicRegular', sans-serif;
    font-style: italic;
}
.pcInfo{
    font-size: small;
    margin: 0;
}





.popup.heroSelect {
    padding: 30px 0 0 0;
    max-width: 600px;
}
.heroSelect input[type=text]{
    margin-bottom: 20px;
}
.heroScroll{
    max-height: 400px;
    overflow-y: scroll;
}
.btHero {
    background-color: transparent;
    padding: 0;
    margin: 5px 5px;
    border-width: 1px;
    font-family:'ComicNeueRegular', 'Comic Sans', cursive;
    font-weight: bold;
}
.hero{
    display: block;
    width: 180px;
    height: 80px;
    overflow: hidden;
    position: relative;
}
.hImg{
    display: block;
    width: 100%;
    height: 100%;
    background-size: 115%;
    background-position: 100% 18%;
}
.bannerLower .hImg{
    background-position: 109% 24%;
}
/*
*/
.hLeft{
    display: block;
    width: 30px;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(0 0, 100% 100%, 0% 100%);
}
.hBandL{
    display: block;
    width: 36px;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    clip-path: polygon(80% 100%, 100% 100%, 20% 0, 0 0);
}
.hRight{
    display: block;
    width: 30px;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}
.hBandR{
    display: block;
    width: 36px;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
    clip-path: polygon(80% 100%, 100% 100%, 20% 0, 0 0);
}

.hero .hName{
    font-size: small;
    color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    opacity: 0;
    background-color: rgba(255, 255, 255, .65);
}
.btHero:hover .hName{
    opacity: 100%;
    animation: fadeIn .4s;
}



.pickList {
    border: solid 1px #000;
    margin: 5px;
    background-color: transparent;
    width: 450px;
    /*
    
    */
    padding: 15px;
}
.pickList:hover{
    background-color: rgba(255,255,255,.8);
    transition: .3s;
}
.pickList .mainText{
    margin: 0;
    font-size: larger;
    font-family: 'RedkostComicRegular', sans-serif;
}
.pickList .subText{
    font-size: small;
    margin: 0;
    font-family: 'ComicNeueRegular', 'Comic Sans', cursive;
}


.scenario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideIn .25s;
    text-align: center;
    z-index: 20;
    width: 500px;
    height: 350px;
    background-color: #FDE172;
    display: block;
    border:solid 2px #000;
    box-shadow: 16px 16px 8px -12px #000;
}
.backwards .scenario {
    animation: slideInBack .25s;
}
.scenario select{
    font-family: 'ComicNeueRegular', sans-serif;
    font-weight: bold;
    margin: 30px 0;
}
.scenario .bigBook{
    transform: rotate(-10deg);
    position: fixed;
    left: -40px;
    top: -20px;
}
.bigBook {
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    */
    width: 230px;
    height: 350px;
    text-align: center;
    display: block;
    border:solid 2px #fff;
    /*box-shadow: 16px 16px 8px -12px #000;*/
    box-shadow: 4px 4px 4px 0px #000;
    overflow:hidden;
    margin: 0;
}
.bigBook .topBack {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 105px, 0 110px, 100% 90px, 100% 85px);
}
.bigBook .topDots {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/dots2.png");
    background-size: cover;
    object-position: 0%;
    clip-path: polygon(0 0, 0 105px, 100% 85px, 100% 0);
    background-size: 150%;
}
.bigBook .issueNum{
    position: absolute;
    font-size: 10pt;
    left: 10px;
    top: 0px;
    width: 30px;
    color: #FFF;
    padding: 8px 2px;
    font-weight: bold;
    filter: drop-shadow(2px 1px 0px rgba(0,0,0,1));
    font-family: 'BebasNeueBold', sans-serif;
}
.bigBook .issueNum p{
    margin: 4px 0;
}
.bigBook .title{
    position: absolute;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 26pt;
    top: 15px;
    left: 50px;
    width: 160px;
    transform: rotate(-6deg);
    color: #fff;
    filter:
        drop-shadow(.5px .5px 0px rgba(248,29,30,1))
        drop-shadow(-.5px .5px 0px rgba(248,29,30,1))
        drop-shadow(.5px -.5px 0px rgba(248,29,30,1))
        drop-shadow(-.5px -.5px 0px rgba(248,29,30,1))
        drop-shadow(2px 2px 2px rgba(0,0,0,1));
}
.bigBook .seriesSub{
    font-size: 12pt;
}
.bigBook .cardBack{
    position: relative;
    top: 90px;
    display: block;
    width: 100%;
    height: 160px;
    background-size: 125%;
    background-position: 100% 18%; 
    clip-path: polygon(0 20px, 100% 0, 100% calc(100% - 10px), 0 100%);
}
.bigBook .cardBack.shiftDown{
    background-position: 100% 14%;
}
.bigBook .botBack{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #003654;
    clip-path: polygon(100% 245px, 0 255px, 0 250px, 100% 240px);
}

.bigBook .botDots{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 100%, 0 100%, 0 255px, 100% 245px);
    background-image: url("assets/dots2.png");
    background-size: cover;
    object-position: 0% 80%;
    background-size: 200%;
}
.bigBook .barcode{
    position: absolute;
    left: 8px;
    bottom: 12px;
    width: 22px;
    border: solid .5px #000;
}
.bigBook .subtitle{
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 14pt;
    /*
    color: #fff;
    background-color: #FC3015;
    */
    background-color: #fff;
    transform: translateX(-50%);
    padding: 14px 20px;
    clip-path: polygon(0 0, 20px 100%, calc(100% - 20px) calc(100% - 8px), 100% 10px);
}
.bigBook .subtitleBack{
    position: absolute;
    top: 235px;
    left: 115px;
    width: 160px;
    filter: drop-shadow(3px 2px 1px rgba(0,0,0,.6));
}
.bigBook .heroes{
    position: absolute;
    right: 2px;
    bottom: 4px;
    display: flex;
    filter: drop-shadow(3px 2px 2px rgba(0,0,0,1));
    transform: scale(.4);
    transform-origin: right bottom;
}


/* Comic Cover Colors (Background Colors) */
.bigBook.bGray{
    background-image: linear-gradient(to bottom right, #8f9090, #4b4b4b);
}
.bigBook.bBlack{
    background-image: linear-gradient(to bottom right, #352f6d, #281c3c);
}
.bigBook.bCyan{
    background-image: linear-gradient(to bottom right, #0ea3cd, #015064);
}
.bigBook.bPurple{
    background-image: linear-gradient(to bottom right, #9b45fc, #521a92);
}

/* Comic Cover Colors (Line Colors) */
.bigBook.lGray .back{
    background-color: #444;
}
.bigBook.lBlue .back{
    background-color: #003366;
}
.bigBook.lBlack .back{
    background-color: #00060d;
}
.bigBook.lWhite .back{
    background-color: #eee;
}
.bigBook.lRed .back{
    background-color: #d60000;
}
.bigBook.lWhite .issueNum{color: #000;}

.bigBook.lYellow .back{
    background-color: #ece10e;
}
.bigBook.lYellow .issueNum{color: #000;}

/* Comic Cover Colors (Fore Colors) */
.bigBook.fOrange .fore{
    color: #FC3015;
}
.bigBook.fOrange .title{
    filter:
        drop-shadow(.5px .5px 0px rgba(248,29,30,1))
        drop-shadow(-.5px .5px 0px rgba(248,29,30,1))
        drop-shadow(.5px -.5px 0px rgba(248,29,30,1))
        drop-shadow(-.5px -.5px 0px rgba(248,29,30,1))
        drop-shadow(2px 2px 2px rgba(0,0,0,1));
}
.bigBook.fWhite .fore{
    color: #2a2a2a;
}
.bigBook.fWhite .title{
    filter:
        drop-shadow(.5px .5px 0px rgb(100, 100, 100))
        drop-shadow(-.5px .5px 0px rgba(100,100,100))
        drop-shadow(.5px -.5px 0px rgba(100,100,100))
        drop-shadow(-.5px -.5px 0px rgba(100,100,100))
        drop-shadow(2px 2px 2px rgba(0,0,0,1));
}

.bigBook.fYellow .fore{
    color: #fff316;
}
.bigBook.fYellow .title{
    color: #fff316;
    filter:
        drop-shadow(.5px .5px 0px #333)
        drop-shadow(-.5px .5px 0px #333)
        drop-shadow(.5px -.5px 0px #333)
        drop-shadow(-.5px -.5px 0px #333)
        drop-shadow(2px 2px 2px rgba(0,0,0,1));
}
.bigBook.fYellow .subtitle{
    background-color: #333;
}

.bigBook.fRed .fore{
    color: #d60000;
}
.bigBook.fRed .title{
    filter:
        drop-shadow(.5px .5px 0px #d60000)
        drop-shadow(-.5px .5px 0px #d60000)
        drop-shadow(.5px -.5px 0px #d60000)
        drop-shadow(-.5px -.5px 0px #d60000)
        drop-shadow(2px 2px 2px rgba(0,0,0,1));
}

.playGame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideIn .25s;
    text-align: center;
    z-index: 20;
    width: 260px;
    height: 120px;
    padding: 40px;
    background-color: #FDE172;
    display: block;
    border:solid 2px #000;
    box-shadow: 16px 16px 8px -12px #000;
}
.playGame.canDefeat{
    width: 500px;
}
.backwards .playGame {
    animation: slideInBack .25s;
}

.playGame .powContainer{
    margin-bottom: -60px;
}
.scenario .rPanel{
    padding-top: 40px;
}


.powContainer{
    position: relative;
    filter: drop-shadow(3px 3px 3px rgba(0,0,0,1));
    background-color: transparent;
    border: 0;
    text-align: center;
    height: 100px;
    width: 220px;
}
.pow {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(38% 17%, 47% 3%, 52% 16%, 70% 8%, 70% 26%, 90% 22%, 82% 37%, 98% 47%, 84% 53%, 91% 68%, 75% 67%, 73% 91%, 61% 78%, 50% 96%, 45% 79%, 33% 96%, 34% 74%, 18% 84%, 22% 64%, 6% 64%, 21% 48%, 2% 36%, 22% 30%, 18% 8%);
}
.pow.back{
    background-color: #061128;
}
.pow.fore{
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: #214798;
}
.powText{
    display: block;
    position: relative;
    left: 0;
    top: 0;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 48pt;
    color: #fff;
    filter:
        drop-shadow(.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px .5px 0px rgba(0,0,0,1))
        drop-shadow(.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(-.5px -.5px 0px rgba(0,0,0,1))
        drop-shadow(2px 2px 2px rgba(0,0,0,1));
    transform: rotate(8deg);
}
.powContainer:hover .powText{
    /*
    color: #fff;
    transform: translate(-2px, -2px);
    filter:
    drop-shadow(.5px .5px 0px rgba(0,0,0,1))
    drop-shadow(-.5px .5px 0px rgba(0,0,0,1))
    drop-shadow(.5px -.5px 0px rgba(0,0,0,1))
    drop-shadow(-.5px -.5px 0px rgba(0,0,0,1))
    drop-shadow(5px 5px 4px rgba(0,0,0,1));
    */
    transition: .6s;
}
.powContainer:hover .pow.fore{
    /*
    background-color: #F0B43C;
    */
    transition: .6s;
}
.powContainer:hover{
    transform: translate(-3px, -3px);
    transition: .3s;
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,1));
}

.playGame.canDefeat .pow.back{
    background-color: #358234;
}
.playGame.canDefeat  .pow.fore{
    background-color: #49B748;
}

.playGame.canDefeat .defeat .pow.back{
    background-color: #841d1d;
}
.playGame.canDefeat .defeat .pow.fore{
    background-color: #d71b22;
}
.playGame.canDefeat .defeat .powText{
    color: #fff;
    transform: rotate(-8deg);
}



.assigned{
    width: 200px;
    display: inline-block;
}
.assigned .heroBadge{
    display: table-cell;
    transform: scale(75%);
}
.assigned p{
    display: table-cell;
    font-size: 40pt;
    font-family: 'RedkostComicRegular', sans-serif;
    vertical-align: middle;
    padding: 0 10px;
}

.heroHp{
    width: 200px;
    display: inline-table;
    clear: both;
    margin: 20px 20px;
}
.heroHp .heroBadge{
    transform: scale(75%);
    transform-origin: top left;
    width: 80px;
    height: 80px;
    display: table-cell;
    /*
    display: inline-block;
    display: inline-block;
    */
}
.heroHp input{
    display: table-cell;
    width: 70px;
    font-size: 36pt;
    font-family: 'RedkostComicRegular', sans-serif;
    margin-top: 10px;
    padding: 0 10px;
}
.heroHp .hp{
    width: 70px;
    font-size: 36pt;
    font-family: 'RedkostComicRegular', sans-serif;
    margin: 0;
    margin-top: 10px;
    padding: 0 10px;
}

.playerCardAssign{
    max-height: 350px;
    overflow-y: auto;
}

.playerCardAssign .player{
    display: flex;
    width: 100%;
    
    flex-direction: row;
    align-items: center;
}
.playerCardAssign .player .heroBadge{
    transform: scale(75%);
    margin: -12px 10px;
}
.playerCardAssign .pickers{
    text-align: center;
    width: 100%;
}
.playerCardAssign .pickers select{
    width: 250px;
    padding: 4px;
    font-size: large;
    font-family:'ComicNeueRegular', 'Comic Sans', cursive;
    font-weight: bold;
}
.playerCardAssign.multi .pickers{
    margin: 10px 0;
}
.playerCardAssign.multi .pickers select{
    font-size: medium;
    margin-bottom: 5px;
}
.dead .heroBadge{
    filter: grayscale(1);
}
.playerCardAssign .dead .pickers p{
    color: #AF1621;
    font-style: italic;
}



.healing .player{
    display: flex;
    width: 100%;
    
    flex-direction: row;
    align-items: center;
}
.healing .player .heroBadge{
    transform: scale(75%);
    margin: -12px 10px;
}
.healing .hpLbl{
    font-size: small;
    margin: -4px;
}
.healing .hp{
    font-size: x-large;
    margin: 0px 10px;
    font-weight: bold;
    width: 75px;
}
.healing .rPane{
    text-align: center;
    width: 100%;
}
.healing label p{
    margin: 0;
}
.healing select{
    width: 250px;
    font-family:'ComicNeueRegular', 'Comic Sans', cursive;
    font-weight: bold;
    margin-bottom: 10px;
}
.healing .obligation{
    color: #AF1621;
    margin: 2px;
    font-weight: bold;
    font-size: smaller;
}


.numberEntry{
    display: table-cell;
    width: 70px;
    font-size: 36pt;
    font-family: 'RedkostComicRegular', sans-serif;
    margin-top: 10px;
    padding: 0 10px;
}

.popup .player .heroBadge{
    transform: scale(.6);
    margin: -20px;
}

.upgradeCard .bonus {
    font-style: italic;
    margin: 0;
    color: #6F8443;
    font-weight: bold;
}
.upgradeCard label p {
    margin: 0;
}

.spinContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    filter: drop-shadow(2px 2px 3px #000);
    animation: slideIn .5s;
}
.spinContainer p{
    display: block;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 26pt;
    color: #fff;
    filter:
        drop-shadow(.5px .5px 0px #000)
        drop-shadow(-.5px .5px 0px #000)
        drop-shadow(.5px -.5px 0px #000)
        drop-shadow(-.5px -.5px 0px #000);
}
.spinContainer .spin{
    
    height: 40px;
    width: 40px;
    margin: 0 auto;
}
.spinContainer .spin::before{
    content: "";
    display: block;
    animation: .6s linear infinite spinner;
    animation-play-state: inherit;
    /*
    border: solid 5px #000;
    border-bottom-color: #ece10e;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    */
    background-color: #fff;
    height: 40px;
    width: 8px;
    margin: 0 16px;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinContainer.fadingOut{
    opacity: 0;
    animation: slideOut .5s;
}

.getFromPile select{
    font-family: 'ComicNeueRegular', sans-serif;
    font-weight: bold;
    padding: 5;
    width: 220px;
    font-size: 16pt;
}




@media only screen and (min-width: 500px) {
    .popup.withCard {
        padding: 50px 100px 70px 40px;
        width: 420px;
    }
}
@media only screen and (min-width: 700px) {
    .scenario .rPanel{
        position: absolute;
        right: 20px;
        top: 60px;
        width: 250px;
    }
}
@media only screen and (max-width: 700px) {
    .vh {
        top: 5px;
        width: 190px;
        height: 70px;
    }
        
    .vt {
        padding: 5px 20px 5px 25px;
        top: 75px;
        left: -20px;
        font-size: large;
        transform:skew(-15deg);
    }
    #heroes_footer{
        bottom: 5px;
        max-width: calc(100% - 40px);
    }
    #heroes_footer .heroBadge{
        margin: -27px -30px -32px -30px;
        transform: scale(.5);
    }
    #heroes_footer_helper{
        width: 20px;
        height: 55px;
        clip-path: polygon(0 100%, calc(100% - 6px) 0, 100% 0, 100% 100%);
    }
    #heroes_footer_helper::after{
        clip-path: polygon(6px 100%, 0 100%, 0 0, 100% 0);
        width: 20px;
        height: 55px;
    }

    .scenario {
        top: 60%;
        width: 90%;
        max-width: 360px;
        height: 380px;
    }
    .scenario .bigBook{
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50px;
    }
    .scenario .rPanel{
        width: 100%;
        margin-top: 190px;
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .scenario select{
        margin: 10px 0;
    }
}
@media only screen and (max-width: 600px) {
    #Title{
        padding: 10px 40px 10px 40px;
        margin-right: 30px;
        top: 35px;
        left: -35px;
        font-size: 24pt;
    }
    .popup {
        width: calc(100% - 50px);
        max-width: 400px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card{
        display: none;
    }

    .heroHp{
        width: 200px;
        margin: 3px 20px;
    }
}
@media only screen and (max-width: 500px) {
    .continueGame{
        width: 400px;
        height: 160px;
    }
    .continueGame .heroes{
        right: 30px;
    }
    .continueGame .heroBadge{
        transform: scale(.5);
        margin: 0 -30px;
    }
    
    .mainMenu .titleButton{
        font-size: 36pt;
        width: 90%;
    }
    .loadGame{
        flex-direction: column;
    }


    .pickList {
        width: 90%;
        padding: 10px;
    }

    .healing .player .heroBadge{
        margin: -12px 0px;
    }
    .healing .hp{
        font-size: large;
        width: 50px;
    }
    .healing select{
        width: 150px;
        font-family:'ComicNeueRegular', 'Comic Sans', cursive;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .playGame.canDefeat{
        width: calc(100% - 50px);
        padding-left: 10px;
        padding-right: 10px;
    }
    .playGame .powContainer{
        height: 60px;
        width: 120px;
    }
    .playGame .powText{
        font-size: 36pt;
    }
}
@media only screen and (max-width: 400px) {
    .continueGame{
        width: 300px;
        height: 120px;
    }
    .continueGame .heroBadge{
        margin: 0 -30px 0 -50px;
    }
    .continueGame h3{
        font-size: 12pt;
    }
    .continueGame p{
        font-size: 10pt;
    }
    .campaignScroller{
        padding-left: 50px;
        width: calc(100% - 50px);
    }
    .playerCardAssign .pickers select{
        width: 150px;
    }
}
@media only screen and (max-width: 800px) {
    .loadGame .heroBadge{
        margin-right: -50px;
    }
}
@media only screen and (max-width: 700px) {
    .loadGame .content{
        width: calc(100%);
        padding-left: 0px;
    }
    .loadGame .campaignBadge{
        width: 140px;
        height: 80px;
    }
    .loadGame .heroBadge{
        transform: scale(.5);
        margin: -25px -50px -30px -30px;
    }
}
@media only screen and (max-width: 300px) {
    .continueGame{
        width: 240px;
        height: 120px;
    }
    .continueGame h1{
        display: none;
    }
    .loadScroller{
        padding-left: 60px;
        width: calc(100% - 60px);
    }
    .campaignScroller{
        padding-left: 0px;
        width: 100%;
    }
}
/*short and small screens*/
@media only screen and (max-width: 700px) and (max-height: 700px) , screen and (max-width:300px) {
    .scenario {
        top: 60%;
        width: 90%;
        max-width: 360px;
        height: 280px;
    }
    .scenario .bigBook{
        transform: translate(-50%, -50%) scale(.7);
        top: -10px;
    }
    .scenario .rPanel{
        width: 100%;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
}